server:
  port: 8080

spring:
  application:
    name: ecommerce-gateway
  output:
    ansi:
      enabled: ALWAYS
  cloud:
    gateway:
      server:
        webflux:
          globalcors:
            corsConfigurations:
              '[/**]':
                allowedOrigins: "*"
                allowedMethods:
                  - GET
                  - POST
                  - PUT
                  - PATCH
                  - DELETE
                allowedHeaders: "*"
          routes:
          - id: ecommerce-customer-service
            uri: lb://ECOMMERCE-CUSTOMER-SERVICE
            predicates:
            - Path=/api/v1/customers/**,/customer-service/v3/api-docs
            filters:
            - TokenRelay=

  security:
    oauth2:
      client:
        registration:
          ecommerce-gateway:
            provider: spring
            client-id: ecommerce-gateway
            client-secret: gateway-client-secret
            client-authentication-method: client_secret_basic
            authorization-grant-type: authorization_code
            redirect-uri: http://127.0.0.1:8080/login/oauth2/code/ecommerce-gateway
            scope: openid,profile
        provider:
          spring:
            issuer-uri: http://localhost:8180
            authorization-uri: http://localhost:8180/oauth2/authorize

eureka:
  client:
    fetchRegistry: true
    registerWithEureka: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

logging:
  level:
    org:
      springframework:
        cloud:
          gateway: DEBUG

springdoc:
  swagger-ui:
    urls:
      - name: E-commerce Gateway
        url: /v3/api-docs
      - name: E-commerce Customer Service
        url: /customer-service/v3/api-docs
